
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    /*     0 topo 0 direita 0 baixo 15px esquerda*/
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

.produtos{
    width: 940px;
    margin: 0px auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.preco{
    font-size: 22px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

/*main ul {
    display: flex;
    justify-content: center;
    
    
}

main ul li{
    border: 3px solid black;
    margin: 10px;
    border-radius: 5px;
}

main ul p{
    text-align: center;
}*/


